{% extends "base.html" %}
{% block title %} edit Vehicle Registration Page {% endblock %}
{% block body %}
<h1> edit Vehicle Registration Page</h1>

<form method = 'POST'>
    <table>
        <tr>
            <td><label>Title:</label></td>
            <td><input type = "text" name = 'title'></td>
        </tr>
        <tr>
            <td><label>Vehicle Number</label></td>
            <td><input type = 'text' name = 'vehicle_number'></td>
        </tr>
        <tr>
            <td><label>Licence number</label></td>
            <td><input type = "text" name = 'licence_number'></td>
        </tr>
        <tr>
            <td><label>date</label></td>
            <td> <input type = "date" name = 'date'></td>
        </tr>
        <tr>
            <td><label>Time slot</label></td>
            <td><input type ="text" name ="timeslot" >
            </td>
        </tr>
        <tr>
            <td><label>Vehicle Issue</label></td>
            <td><input type = "text" name = 'vehicle_issue'></td>
        </tr>
        <tr>
            <td><label>Service Center</label></td>
            <td><input type = "text" name = 'service_center'></td>
        </tr>
        <tr>
            <td><lable>Status</lable></td>
            <td>
                <select name = 'status'selected>
                <option>pending</option>
                <option>Approved</option>
                </select>
        </td>
        </tr>
        <tr>
            <td><input type = 'submit' name = 'submit'></td>
        </tr>
    </table>

</form>

{% endblock %}